@model TMS.Models.LoginPage
@{
    ViewBag.Title = "changePassword";
}






@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Change Password</legend>
        
        <div class="changePassword">
            @Html.LabelFor(Model => Model.Password)
        </div>
        <div class="changePassword">
            @Html.EditorFor(Model => Model.Password)
            @Html.ValidationMessageFor(Model => Model.Password)
        </div>
        <p>
            <input type="submit" value=" changePassword">
        </p>
    </fieldset>
}
